<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Nombre*</label>
        <input class="form-control" id="name" name="name" formControlName="name">
        <small class="text-danger" *ngIf="c('name').touched && c('name').invalid">El nombre es obligatorio.</small>
      </div>

    <div class="form-group">
      <label for="abbreviation">Abreviación*</label>
      <input class="form-control" id="abbreviation" name="abbreviation" formControlName="abbreviation">
      <small class="text-danger" *ngIf="c('abbreviation').touched && c('abbreviation').invalid">La abreviación es obligatoria.</small>
    </div>
    
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closePresentationForm()">Cancelar</button>
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Guardar</button>
    </div>
  </form>
