<form (ngSubmit)="onSubmit()" #categoryForm="ngForm">
    <div class="form-group">
        <label for="name">Nombre</label>
        <input class="form-control" id="name" name="name" [(ngModel)]="formCategory.name">
      </div>

    <div class="form-group">
      <label for="description">Descripción</label>
      <textarea class="form-control" id="description" name="description" [(ngModel)]="formCategory.description"></textarea>
    </div>
    
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeCategoryForm()">Cancelar</button>
      <button type="submit" class="btn btn-primary" [disabled]="!categoryForm.valid">Guardar</button>
    </div>
  </form>