.ng-dropdown-panel {
    z-index: 2000 !important; /* mayor que el modal (Bootstrap usa 1050) */
  }

  /* Quita las flechas en Chrome, Edge y Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Quita las flechas en Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

form input {
  autocomplete: off;
}