      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Gestión de Productos</h1>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header d-flex w-100 align-items-center">
                      <h3 class="card-title my-auto">Lista de Productos</h3>

                      <div class="input-group input-group-sm mx-auto" style="width: 600px;">
                        <input 
                          type="text" 
                          name="table_search" 
                          class="form-control" 
                          placeholder="Buscar producto por nombre, código..."
                          [(ngModel)]="searchTerm">
                        <div class="input-group-append">
                          <button type="button" class="btn btn-default">
                            <i class="fas fa-search"></i>
                          </button>
                        </div>
                      </div>

                      <div class="form-check form-switch ml-auto">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          role="switch"
                          id="toggleIsLowStock">
                        <label class="form-check-label" for="toggleIsLowStock">
                          Mostrar stock bajo
                        </label>
                      </div>

                      <div class="form-check form-switch ml-auto">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          role="switch"
                          id="toggleIsActivate"
                          [(ngModel)]="showActiveProducts"
                          (change)="onToggleChange()">
                        <label class="form-check-label" for="toggleIsActivate">
                          Mostrar activos
                        </label>
                      </div>

                      <div class="ml-auto">
                          <button
                            class="btn btn-success" 
                            (click)="openCreateModal()" 
                            data-toggle="modal" 
                            data-target="#productForm">
                              <i class="fas fa-plus-circle"></i> Agregar Producto
                          </button> 
                      </div>
          
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0" style="height: 600px;">
                      <table class="table table-head-fixed text-nowrap">
                        <thead>
                          <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Costo</th>
                            <th>Precio</th>
                            <th>Stock</th>
                            <th>Subcategoría</th>
                            <th>Presentación</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let product of products | filterBy:searchTerm:['code', 'name']" [ngClass]="{'low-stock': product.isBelowOrEqualMinimumStock}">
                            <td>{{ product.code | uppercase }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.cost | currency }}</td>
                            <td>{{ product. price | currency }}</td>
                            <td>{{ product.stock }}</td>
                            <td>{{ product.subcategory.name }}</td>
                            <td>{{ product.presentation.name }}</td>
                            <td>
                              <button 
                                class="btn btn-info btn-sm mr-2" 
                                (click)="viewProductDetails(product)"
                                data-bs-toggle="tooltip"
                                data-placement="top"
                                title="Ver detalles">
                                <i class="fas fa-eye"></i>
                              </button>
                              <button 
                                class="btn btn-warning btn-sm mr-2" 
                                (click)="openEditModal(product)"
                                data-bs-toggle="tooltip"
                                data-placement="top"
                                title="Editar">
                                    <i class="fas fa-edit"></i>
                              </button>
                              @if (product.isActivate) {
                                <button 
                                  class="btn btn-danger btn-sm mr-2" 
                                  (click)="desactivateProdutc(product)"
                                  data-bs-toggle="tooltip"
                                  data-placement="top"
                                  title="Desactivar">
                                  <i class="fas fa-ban"></i>
                                </button>
                              } @else {
                                <button 
                                  class="btn btn-success btn-sm mr-2" 
                                  (click)="activateProdutc(product)"
                                  data-bs-toggle="tooltip"
                                  data-placement="top"
                                  title="Activar">
                                  <i class="fas fa-check-square"></i>
                                </button>
                              }
                              <button 
                              class="btn btn-success btn-sm mr-2" 
                              (click)="openUpdateStockModal(product)"
                              data-bs-toggle="tooltip"
                              data-placement="top"
                              title="Ajustar inventario">
                                  <i class="fa-regular fa-file-lines"></i>
                            </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
              </div> 

              <!-- Form Modal -->
              <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="productModalLabel">
                        {{ selectedProduct ? 'Editar Producto' : 'Agregar Producto' }}
                      </h5>
                      <button type="button" class="close" (click)="closeProductForm()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <app-product-form
                        #productFormModal
                        [product]="selectedProduct" 
                        (saveProduct)="onProductSaved($event)">
                      </app-product-form>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Form Modal -->

              <!-- Form Modal -->
              <div class="modal fade" id="updateStockModal" tabindex="-1" role="dialog" aria-labelledby="updateStockModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="updateStockModalLabel">
                          Actualizar Stock
                      </h5>
                      <button type="button" class="close" (click)="closeUpdateStockModal()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                    <app-stock-form-component
                        #updateStockFormModal
                        [product]="selectedProduct" 
                        (saveStock)="updateStock(selectedProduct!, $event)">
                    </app-stock-form-component>
                    </div>
                  </div>
                </div>
              </div>
                            <!-- Form Modal -->

              <div class="modal fade" id="productDetailsModal" tabindex="-1" role="dialog" aria-labelledby="productDetailsModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="productDetailsModalLabel">Detalles del Producto</h5>
                      <button type="button" class="close" (click)="closeProductDetails()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    @if (productForDetails) {

                      <div class="modal-body" *ngIf="productForDetails">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <strong>Nombre:</strong>
                              <p>{{ productForDetails.name }}</p>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <strong>Código:</strong>
                              <p>{{ productForDetails.code }}</p>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <strong>Descripción:</strong>
                              <p>{{ productForDetails.description }}</p>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-2">
                            <div class="form-group">
                              <strong>Costo sin IVA:</strong>
                              <p>{{ costWithoutTaxes | currency }}</p>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <strong>Costo con IVA:</strong>
                              <p>{{ productForDetails.cost | currency }}</p>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <strong>Precio:</strong>
                              <p>{{ productForDetails.price | currency }}</p>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <strong>Gan. ($):</strong>
                              <p>{{ productForDetails.profitMargin | currency }}</p>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <strong>Gan. (%):</strong>
                              <p>{{ profitPercentage | number:'1.2-2' }}</p>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <strong>Gan. Inventario:</strong>
                              <p>{{ productForDetails.profitValue | currency}}</p>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-2">
                            <div class="form-group">
                              <strong>Stock:</strong>
                              <p>{{ productForDetails.stock }}</p>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <strong>Stock Minimo:</strong>
                              <p>{{ productForDetails.minimumStock }}</p>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <strong>Stock Máximo:</strong>
                              <p>{{ productForDetails.recommendedStock }}</p>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <strong>Valor Inventario:</strong>
                              <p>{{ productForDetails.inventoryValue | currency}}</p>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <strong>Bajo Inventario:</strong>
                              <p>{{ productForDetails.isBelowOrEqualMinimumStock ?? false | booleanToText }}</p>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <strong>Subcategoría:</strong>
                              <p>{{ productForDetails.subcategory.name }}</p>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <strong>Presentación:</strong>
                              <p>{{ productForDetails.presentation.name }}</p>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          @if (!productForDetails.suppliers || productForDetails.suppliers.length === 0) {
                            <div class="col-md-12">
                              <strong>Proveedores:</strong>
                                <p>Sin Proveedores</p>
                            </div>
                          } @else {
                            <div class="col-md-12">
                              <strong>Proveedores:</strong>
                              <div *ngFor="let supplier of productForDetails.suppliers">
                                <p>{{ supplier.name }}</p>
                              </div>
                            </div>
                          }
                        </div>
                      </div>

                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="openEditModal(productForDetails)">Editar</button>
                        <button type="button" class="btn btn-secondary" (click)="closeProductDetails()">Cerrar</button>
                      </div>

                    }

                  </div>
                </div>
              </div>
        </div>
        <!-- /.container-fluid-->
      </div>
      <!-- /.content -->