<form (ngSubmit)="onSubmit()" #productForm="ngForm">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="formProduct.name" required>
              </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="name">Código</label>
                <input type="text" class="form-control" id="code" name="code" [(ngModel)]="formProduct.code" required>
              </div>
        </div>
    </div>

    <div class="form-group">
      <label for="description">Descripción</label>
      <textarea class="form-control" id="description" name="description" [(ngModel)]="formProduct.description"></textarea>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="price">Precio</label>
                <input type="number" class="form-control" id="price" name="price" [(ngModel)]="formProduct.price" (ngModelChange)="onPriceChange()" required>
              </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
              <label for="price">Ganancia (%)</label>
              <input type="number" class="form-control" id="profiy" name="profit" [(ngModel)]="profitPercentage" (ngModelChange)="onProfitChange()" required>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="price">Costo</label>
                <input type="number" class="form-control" id="cost" name="cost" [(ngModel)]="formProduct.cost" (ngModelChange)="onCostChange()" required>
              </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="price">Stock</label>
                <input type="number" class="form-control" id="stock" name="stock" [(ngModel)]="formProduct.stock" required>
              </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="price">Stock Minimo</label>
                <input type="number" class="form-control" id="minimunStock" name="minimumStock" [(ngModel)]="formProduct.minimumStock" required>
              </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
              <label for="price">Stock Maximo</label>
              <input type="number" class="form-control" id="recommendedStock" name="recommendedStock" [(ngModel)]="formProduct.recommendedStock" required>
            </div>
      </div>
    </div>

    <div class="form-group">
      <label for="subcategory">Subcategoría</label>
      <select 
        class="form-control" 
        id="subcategory" 
        name="subcategory" 
        [(ngModel)]="formProduct.subcategoryId" 
        required>
        <option [ngValue]="null" disabled selected>Seleccione una subcategoría</option>
        <option *ngFor="let subcategory of subcategories" [ngValue]="subcategory.id">
          {{ subcategory.name }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="suppliers">Proveedores</label>
      <ng-select
        [items]="suppliers"
        [multiple]="true"
        bindLabel="name"
        bindValue="id"
        [(ngModel)]="selectedSupplierIds"
        name="selectedSuppliers">
      </ng-select>
    </div>
    
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeProductForm()">Cancelar</button>
      <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">Guardar</button>
    </div>
  </form>
