      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Gestión de Usuarios</h1>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header d-flex w-100 align-items-center">
                      <h3 class="card-title my-auto">Lista de Usuarios</h3>

                      <div class="input-group input-group-sm mx-auto" style="width: 600px;">
                        <input 
                          type="text" 
                          name="table_search" 
                          class="form-control" 
                          placeholder="Buscar usuario..."
                          [(ngModel)]="searchTerm">
                        <div class="input-group-append">
                          <button type="submit" class="btn btn-default">
                            <i class="fas fa-search"></i>
                          </button>
                        </div>
                      </div>

                      <div class="form-check form-switch ml-auto">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          role="switch"
                          id="toggleIsActivate"
                          [(ngModel)]="showActiveProducts"
                          (change)="onToggleChange()">
                        <label class="form-check-label" for="toggleIsActivate">
                          Mostrar activos
                        </label>
                      </div>


                      <div class="ml-auto">
                          <button class="btn btn-success" (click)="openUserModal()" data-toggle="modal" data-target="#userForm">
                              <i class="fa-solid fa-user-plus"></i> Agregar Usuario
                          </button> 
                      </div>
          
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0" style="height: 600px;">
                      <table class="table table-head-fixed text-nowrap">
                        <thead>
                          <tr>
                            <th>Usuario</th>
                            <th>Activo</th>
                            <th>Bloqueado</th>
                            <th>Permisos</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let user of users | filterBy:searchTerm:['username']">
                            <td>{{ user.username }}</td>
                            @if (user.isActivate) {
                              <td class="text-success">
                                <i class="fa-solid fa-user-check"></i>
                              </td>
                            } @else {
                              <td class="text-danger">
                                <i class="fa-solid fa-user-slash"></i>
                              </td>                              
                            }
                             @if (user.isBlocked) {
                              <td class="text-danger">
                                <i class="fa-solid fa-user-lock"></i>
                              </td>
                            } @else {
                              <td class="text-success">
                                <i class="fa-solid fa-user-check"></i>
                              </td>                              
                            }
                            <td>{{ user.roles | roleName}}</td>
                            <td>
                            @if (user.isActivate) {
                              <button 
                                class="btn btn-danger btn-sm mr-2" 
                                (click)="desactivateUser(user)"
                                data-bs-toggle="tooltip"
                                data-placement="top"
                                title="Desactivar">
                                <i class="fa-solid fa-user-slash"></i>
                              </button>
                              <button 
                                class="btn btn-primary btn-sm mr-2" 
                                (click)="openChangePasswordModal(user)"
                                data-bs-toggle="tooltip"
                                data-placement="top"
                                title="Cambiar Contraseña">
                                <i class="fa fa-key"></i>
                              </button>
                              <button 
                                class="btn btn-primary btn-sm mr-2" 
                                data-bs-toggle="tooltip"
                                data-placement="top"
                                title="Editar Roles">
                                <i class="fa-solid fa-user-gear"></i>
                              </button>
                              @if (user.isBlocked) {
                                <button 
                                  class="btn btn-success btn-sm mr-2" 
                                  (click)="unblockUser(user)"
                                  data-bs-toggle="tooltip"
                                  data-placement="top"
                                  title="Desbloquear">
                                  <i class="fa-solid fa-unlock"></i>
                                </button>
                              }
                            } @else {
                              <button 
                                class="btn btn-success btn-sm mr-2" 
                                (click)="activateUser(user)"
                                data-bs-toggle="tooltip"
                                data-placement="top"
                                title="Activar">
                                <i class="fa-solid fa-user-check"></i>
                              </button>
                              <button 
                                class="btn btn-danger btn-sm mr-2" 
                                data-bs-toggle="tooltip"
                                data-placement="top"
                                title="Eliminar">
                                <i class="fa-solid fa-trash"></i>
                              </button>
                            }
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
              </div> 
              <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="changePasswordModalLabel">
                        Cambiar Contraseña de {{ selectedUser?.username }}
                      </h5>
                      <button type="button" class="close" (click)="closeChangePasswordModal()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <app-change-password-form 
                        #changePasswordModal
                        [user]="selectedUser" 
                        (changePassword)="onChangePassword(selectedUser!, $event)">
                      </app-change-password-form>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="userModalLabel">
                        Agregar Usuario
                      </h5>
                      <button type="button" class="close" (click)="closeUserModal()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <app-user-form-component
                        #userModal
                        (createUser)="onUserSaved($event)">
                      </app-user-form-component>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <!-- /.container-fluid-->
      </div>
      <!-- /.content -->
